.Logo
	width: 10%
	float: left
	margin-top: 5vh
	margin-left: 24vh
	
.FondoOrange
	position: $Fija
	right: 0
	z-index: -1
	width: 56%

.ImgPoints
	position: $Fija
	top: 26vh
	left: 10vh
	z-index: -1

.ImgSocial
	position: $Fija
	bottom: 0
	right: 12vh
		
.ImgSoc
	width: 35%
	margin: auto

.Body__ImgIndice
	width: 35%
	float: left
	margin-left: 24vh

.Cont__Top__Body
	display: $Flexible
	justify-content: space-around
	margin-top: 25vh

.ImgPlay
	width: 20%

.PointsTwo
	width: 20%
	z-index: -1

.ImgCubo
	display: flex
	align-items: center
	width: 100%

.ImgJet
	display: flex
	align-items: center
	width: 100%

.ImgTuerca
	display: flex
	align-items: center
	width: 100%

.ImgVerano
	margin-bottom: 5vh
		
.ImgSocFoot
	width: 45%
	margin: auto