/*VARIABLES CONTENEDORES */
/*VARIABLES BOTONES (solo para seccion _Body.sass) */
/*VARIABLES BOTONES (solo para seccion _Botons.sass) */
/* VARIABLES IMAGENES */
/*VARIABLES FONDO */
/* VARIABLES TEXTO */
.Container__Header {
  background: linear-gradient(#C74733, #581677);
  min-height: 97vh;
  display: flex; }

.Header__left {
  display: inline-block;
  width: 120vh; }

.Header__right {
  display: inline-block;
  width: 94vh;
  text-align: right;
  margin-top: 6vh;
  margin-right: 5vh; }

.Header__Title {
  color: #fff;
  font-family: Poppins;
  font-weight: bold;
  font-size: 10vh;
  margin: 0;
  margin-left: 10vh;
  margin-top: 15vh; }

.Header__Subtitle {
  color: #fff;
  font-family: Poppins;
  font-size: 3vh;
  margin: 0;
  margin-left: 10vh;
  margin-top: 2vh; }

/*ESTILOS DE IMAGENES HEADER */
.Left__ImgLogo {
  width: 20%;
  margin-left: 10vh;
  margin-top: 5vh; }

.Header__Img {
  display: flex;
  position: absolute; }

.Right__ImgPhone {
  width: 84%;
  margin-left: auto;
  margin-top: 2vh;
  z-index: 1; }

.Right__ImgReloj {
  position: absolute;
  margin-top: 26vh;
  margin-left: 43vh;
  width: 28vh;
  z-index: 1; }

.Right__ImgTable {
  position: absolute;
  margin-top: 62vh;
  margin-left: 43vh;
  width: 28vh;
  z-index: 1; }

.Right__ImgTramaOne {
  position: absolute;
  margin-top: 14vh;
  margin-left: 30vh;
  width: 22vh; }

.Right__ImgTramaTwo {
  position: absolute;
  margin-top: 72vh;
  margin-left: 63vh;
  width: 22vh; }

.Right__IconUser {
  position: absolute;
  margin-top: 22vh;
  margin-left: 42.5vh;
  width: 5vh;
  z-index: 1; }

.Right__IconCampana {
  position: absolute;
  margin-top: 24.4vh;
  margin-left: 56vh;
  width: 2vh;
  z-index: 1; }

.Right__Iconsearch {
  position: absolute;
  margin-top: 24.4vh;
  margin-left: 60vh;
  width: 2vh;
  z-index: 1; }

.Right__IconChat {
  position: absolute;
  margin-top: 24.5vh;
  margin-left: 64vh;
  width: 2vh;
  height: 2vh;
  z-index: 1; }

.Right__IconMore {
  position: absolute;
  margin-top: 24.4vh;
  margin-left: 68vh;
  width: 2vh;
  z-index: 1; }

/**ESTILOS IMAGENES BODY */
.Benefits__Img {
  width: 2%;
  border: 4vh solid green;
  border-radius: 50%;
  border-color: #FEADA6; }

.Benefits__ImgScreen {
  margin-top: 14vh;
  width: 90%;
  background: 0% 0% no-repeat padding-box;
  box-shadow: 10px 10px 8px #6E6E6E1A;
  border-radius: 16px; }

.Img_Other {
  border-radius: 100%; }

.Table__Img {
  width: 15vh; }

/*BOTONES HEADER */
/*LADO IZQUIERDO */
.Boton {
  color: #fff;
  font-family: Poppins;
  border: 1px solid #fff;
  border-radius: 15px; }

.Botons__left--One {
  margin-left: 10vh;
  background: linear-gradient(#F794A4, #ca6f55);
  border: 1px solid #F794A4;
  width: 17%;
  height: 8%;
  font-size: 2vh;
  border-radius: 15vh; }
  .Botons__left--One:hover {
    cursor: pointer;
    background: #fff; }
    .Botons__left--One:hover .txtBoton {
      color: #ca6f55; }

.Botons__left {
  background: transparent;
  margin-top: 5vh;
  margin-left: 2vh;
  width: 22%;
  height: 8%;
  font-size: 2vh;
  border: 1px solid #fff;
  border-radius: 15vh; }
  .Botons__left:hover {
    cursor: pointer;
    text-decoration: underline; }

/*BOTONES HEADER LADO DERECHO */
.Botons__Right {
  background: transparent;
  border: none;
  margin-left: 2vh;
  margin-right: 2vh;
  font-size: 2.2vh;
  text-decoration: none; }
  .Botons__Right:hover {
    cursor: pointer;
    text-decoration: underline; }

.Botons__Right--One {
  background: linear-gradient(#00F2FE, #4FACFE);
  font-size: 2.2vh;
  border: none;
  border-radius: 25px;
  padding: 2vh;
  height: 8vh;
  margin-left: 2vh; }
  .Botons__Right--One:hover {
    background: #4FACFE;
    cursor: pointer; }

/*BOTONES BODY */
.SIlver__Button {
  color: #939FA4;
  width: 20vh;
  height: 7vh;
  background: #F4F6FD;
  font-size: 2.5vh;
  border-radius: 30px;
  border: 1px solid #939FA4;
  margin-top: 5vh; }

.Gold__Button {
  color: #939FA4;
  width: 20vh;
  height: 7vh;
  background: #F4F6FD;
  font-size: 2.5vh;
  border-radius: 30px;
  border: 1px solid #939FA4;
  margin-top: 5vh; }

.Bronze__Button {
  color: #939FA4;
  width: 20vh;
  height: 7vh;
  background: #F4F6FD;
  font-size: 2.5vh;
  border-radius: 30px;
  border: 1px solid #939FA4;
  margin-top: 5vh; }

/* BOTONES DEL FOOD */
.Botons__left--Two {
  background: linear-gradient(#F794A4, #ca6f55);
  border: 1px solid #F794A4;
  width: 20vh;
  height: 8vh;
  font-size: 2vh;
  border-radius: 15vh; }
  .Botons__left--Two:hover {
    cursor: pointer;
    background: #fff; }
    .Botons__left--Two:hover .txtBoton {
      color: #ca6f55; }

.Botons__Right--Two {
  background: linear-gradient(#00F2FE, #4FACFE);
  border: 1px solid #4FACFE;
  width: 25vh;
  height: 8vh;
  font-size: 2vh;
  border-radius: 15vh; }
  .Botons__Right--Two:hover {
    background: #4FACFE;
    cursor: pointer; }

.Container__Body {
  margin-top: 20vh; }

/*CONTENDORES BODY */
/*CONTENDOR BENFICIOS PARA TODOS */
.Cont__Benefits {
  text-align: center;
  padding-left: 25vh;
  padding-right: 25vh; }

.Benefits__Title {
  font-family: Poppins;
  font-size: 8vh; }

.Benefits__Subtitle {
  font-family: Poppins;
  font-size: 3vh;
  color: #A7B0B4; }

/*CONTENEDOR TRIO DE DIVS */
.Cont_Table {
  display: flex;
  text-align: center; }

.Trio--Divs {
  font-family: Poppins;
  display: inline-block;
  width: 65vh;
  height: 73vh;
  margin-top: 15vh;
  background: 0% 0% no-repeat padding-box;
  box-shadow: 0px 1px 8px #6E6E6E1A;
  border-radius: 16px; }

.Table__One {
  margin-left: 17vh;
  margin-right: 5vh; }
  .Table__One:hover {
    background: #fff;
    -webkit-box-shadow: 0px 0px 10px 0px #463699;
    -moz-box-shadow: 0px 0px 10px 0px #463699;
    box-shadow: 0px 0px 10px 0px #463699; }

.Table__Two:hover {
  background: #fff;
  -webkit-box-shadow: 0px 0px 10px 0px #463699;
  -moz-box-shadow: 0px 0px 10px 0px #463699;
  box-shadow: 0px 0px 10px 0px #463699; }

.Table__Three {
  margin-left: 5vh;
  margin-right: 17vh; }
  .Table__Three:hover {
    background: #fff;
    -webkit-box-shadow: 0px 0px 10px 0px #463699;
    -moz-box-shadow: 0px 0px 10px 0px #463699;
    box-shadow: 0px 0px 10px 0px #463699; }

.Table__Title {
  font-size: 4vh;
  font-weight: bold;
  margin-top: 15vh; }

.Table__SubTitle {
  font-size: 3vh;
  font-weight: bold; }

.Table__Texto {
  font-size: 2.5vh;
  color: #939FA4;
  margin: 4vh; }

.Other {
  color: #939FA4; }

/*CONTENDOR PRECIOS DE TyU */
.Cont__Price {
  text-align: center;
  margin-top: 25vh;
  padding-left: 25vh;
  padding-right: 25vh; }

.Price__Title {
  font-family: Poppins;
  font-size: 8vh; }

.Price__Text {
  font-family: Poppins;
  font-size: 3vh;
  color: #A7B0B4; }

.Table__Price {
  display: flex;
  text-align: center; }

.Trio--Price {
  font-family: Poppins;
  display: inline-block;
  width: 60vh;
  height: 60vh;
  margin-top: 15vh;
  background: 0% 0% no-repeat padding-box;
  box-shadow: 0px 1px 8px #6E6E6E1A;
  border: 2px solid #DBE0EF; }

.Price__Silver {
  margin-right: 10vh; }
  .Price__Silver:hover {
    background: #fff;
    -webkit-box-shadow: 0px 0px 10px 0px #5f5f5f;
    -moz-box-shadow: 0px 0px 10px 0px #5f5f5f;
    box-shadow: 0px 0px 10px 0px #5f5f5f; }
    .Price__Silver:hover .txtBoton {
      color: #DBE0EF; }
    .Price__Silver:hover .SIlver__Button {
      background: transparent linear-gradient(#A498E4, #463699);
      box-shadow: 0px 20px 50px #0000004D;
      border-radius: 30px; }
      .Price__Silver:hover .SIlver__Button:hover {
        color: #fff;
        background: #463699;
        cursor: pointer; }
  .Price__Silver .txtBoton {
    color: #939FA4; }

.Price__Gold {
  margin-top: 10vh; }
  .Price__Gold:hover {
    background: #fff;
    -webkit-box-shadow: 0px 0px 10px 0px #efb810;
    -moz-box-shadow: 0px 0px 10px 0px #efb810;
    box-shadow: 0px 0px 10px 0px #efb810; }
    .Price__Gold:hover .txtBoton {
      color: #DBE0EF; }
    .Price__Gold:hover .Gold__Button {
      background: transparent linear-gradient(#A498E4, #463699);
      box-shadow: 0px 20px 50px #0000004D;
      border-radius: 30px; }
      .Price__Gold:hover .Gold__Button:hover {
        color: #fff;
        background: #463699;
        cursor: pointer; }
  .Price__Gold .txtBoton {
    color: #939FA4; }

.Price__Bronze {
  margin-left: 10vh; }
  .Price__Bronze:hover {
    background: #fff;
    -webkit-box-shadow: 0px 0px 10px 0px #cd7f32;
    -moz-box-shadow: 0px 0px 10px 0px #cd7f32;
    box-shadow: 0px 0px 10px 0px #cd7f32; }
    .Price__Bronze:hover .txtBoton {
      color: #DBE0EF; }
    .Price__Bronze:hover .Bronze__Button {
      background: transparent linear-gradient(#A498E4, #463699);
      box-shadow: 0px 20px 50px #0000004D;
      border-radius: 30px; }
      .Price__Bronze:hover .Bronze__Button:hover {
        color: #fff;
        background: #463699;
        cursor: pointer; }
  .Price__Bronze .txtBoton {
    color: #939FA4; }

.Silver__Title {
  font-size: 5vh;
  margin-top: 10vh;
  color: #5F5F5F;
  font-weight: bold; }

.Silver__SubTitle {
  font-size: 3vh;
  font-weight: bold; }

.Silver__Texto {
  font-size: 2.5vh;
  color: #939FA4; }

.Gold__Title {
  font-size: 5vh;
  margin-top: 10vh;
  color: #efb810;
  font-weight: bold; }

.Gold__SubTitle {
  font-size: 3vh;
  font-weight: bold; }

.Gold__Texto {
  font-size: 2.5vh;
  color: #939FA4; }

.Bronze__Title {
  font-size: 5vh;
  margin-top: 10vh;
  color: #cd7f32;
  font-weight: bold; }

.Bronze__SubTitle {
  font-size: 3vh;
  font-weight: bold; }

.Bronze__Texto {
  font-size: 2.5vh;
  color: #939FA4; }

.Container__Food {
  display: flex;
  text-align: center; }

.Cont__Configuration {
  font-family: Poppins;
  font-size: 4vh;
  display: inline-block;
  width: 60vh;
  height: 20vh;
  margin-left: 50vh;
  margin-top: 8vh;
  text-align: left; }

.Foot__Botons {
  font-family: Poppins;
  display: inline-block;
  width: 60vh;
  height: 20vh;
  border-radius: 16px;
  margin-top: 12vh;
  text-align: right; }

.Foot_Final {
  border-top: 1px solid #939FA4;
  padding-top: 10vh; }

.Foot__Table {
  font-family: Poppins;
  border-collapse: separate;
  border-spacing: 10vh 0vh;
  width: 60%;
  margin-left: 35vh; }

.Foot__Header {
  font-weight: bold;
  font-size: 2vh; }
  .Foot__Header tr td {
    width: 38%; }

.Foot__Body {
  color: #939FA4;
  font-size: 1.5vh; }

.CopyRight {
  margin-top: 10vh; }

/*RESOLUCIONES */
@media screen and (max-width: 1920px) {
  .Right__ImgReloj {
    margin-top: 20vh;
    margin-left: 33vh;
    width: 22vh;
    z-index: 1; }

  .Right__ImgTable {
    margin-top: 48vh;
    margin-left: 33vh;
    width: 22vh;
    z-index: 1; }

  .Right__ImgTramaOne {
    margin-top: 9vh;
    margin-left: 20vh;
    width: 22vh; }

  .Right__ImgTramaTwo {
    margin-top: 55vh;
    margin-left: 45vh;
    width: 22vh; }

  .Right__IconUser {
    margin-left: 32.5vh;
    margin-top: 17vh; }

  .Right__IconCampana {
    margin-left: 43vh;
    margin-top: 19vh; }

  .Right__Iconsearch {
    margin-left: 46vh;
    margin-top: 19.2vh; }

  .Right__IconChat {
    margin-left: 48.5vh;
    margin-top: 19.5vh; }

  .Right__IconMore {
    margin-left: 51vh;
    margin-top: 19.4vh; } }
@media screen and (min-width: 1600px) {
  .Right__ImgReloj {
    margin-top: 26vh;
    margin-left: 41vh;
    width: 26vh;
    z-index: 1; }

  .Right__ImgTable {
    margin-top: 60vh;
    margin-left: 41vh;
    width: 26vh;
    z-index: 1; }

  .Right__ImgTramaOne {
    margin-top: 13vh;
    margin-left: 28vh;
    width: 22vh; }

  .Right__ImgTramaTwo {
    margin-top: 72vh;
    margin-left: 60vh;
    width: 22vh; }

  .Right__IconUser {
    margin-left: 40.5vh;
    margin-top: 21vh; }

  .Right__IconCampana {
    margin-left: 54vh;
    margin-top: 24vh; }

  .Right__Iconsearch {
    margin-left: 57vh;
    margin-top: 24.3vh; }

  .Right__IconChat {
    margin-left: 60.5vh;
    margin-top: 24.5vh; }

  .Right__IconMore {
    margin-left: 64vh;
    margin-top: 24.4vh; } }
@media screen and (min-width: 1366px) {
  .Right__ImgReloj {
    margin-top: 27vh;
    margin-left: 43vh;
    width: 27vh;
    z-index: 1; }

  .Right__ImgTable {
    margin-top: 62vh;
    margin-left: 43vh;
    width: 27vh;
    z-index: 1; }

  .Right__ImgTramaOne {
    margin-top: 13vh;
    margin-left: 30vh;
    width: 22vh; }

  .Right__ImgTramaTwo {
    margin-top: 76vh;
    margin-left: 60vh;
    width: 22vh; }

  .Right__IconUser {
    margin-left: 43.5vh;
    margin-top: 22vh; }

  .Right__IconCampana {
    margin-left: 57vh;
    margin-top: 25vh; }

  .Right__Iconsearch {
    margin-left: 60vh;
    margin-top: 25.3vh; }

  .Right__IconChat {
    margin-left: 63vh;
    margin-top: 25.3vh; }

  .Right__IconMore {
    margin-left: 67vh;
    margin-top: 25vh; } }
@media screen and (min-width: 1201px) and (max-width: 1280px) {
  .Container__Header {
    min-height: 106vh; }

  .Right__ImgReloj {
    margin-top: 30vh;
    margin-left: 47vh; }

  .Right__ImgTable {
    margin-top: 67vh;
    margin-left: 47vh; }

  .Right__ImgTramaTwo {
    margin-top: 82vh;
    margin-left: 64vh; }

  .Right__IconCampana {
    margin-top: 26.4vh;
    margin-left: 59vh; }

  .Right__Iconsearch {
    margin-top: 26.7vh;
    margin-left: 62vh; }

  .Right__IconUser {
    margin-top: 25vh;
    margin-left: 46vh; }

  .Right__IconChat {
    margin-top: 26.7vh;
    margin-left: 65vh; }

  .Right__IconMore {
    margin-top: 26.7vh;
    margin-left: 69vh; } }
@media screen and (min-width: 1100px) and (max-width: 1200px) {
  .Right__ImgReloj {
    position: absolute;
    margin-top: 27vh;
    margin-left: 40vh;
    width: 24vh;
    z-index: 1; }

  .Right__ImgTable {
    position: absolute;
    margin-top: 58vh;
    margin-left: 40vh;
    width: 24vh;
    z-index: 1; }

  .Right__ImgTramaTwo {
    position: absolute;
    margin-top: 68vh;
    margin-left: 52vh;
    width: 22vh; }

  .Right__IconCampana {
    margin-left: 52vh; }

  .Right__Iconsearch {
    margin-left: 57vh; }

  .Right__IconUser {
    margin-left: 39.5vh; }

  .Right__IconChat {
    margin-left: 61vh; }

  .Right__IconMore {
    margin-left: 65vh; } }
@media screen and (min-width: 1001px) and (max-width: 1100px) {
  .Right__ImgReloj {
    position: absolute;
    margin-top: 22vh;
    margin-left: 34vh;
    width: 22vh;
    z-index: 1; }

  .Right__ImgTable {
    position: absolute;
    margin-top: 50vh;
    margin-left: 34vh;
    width: 22vh;
    z-index: 1; }

  .Right__ImgTramaOne {
    margin-top: 8vh;
    margin-left: 22vh; }

  .Right__ImgTramaTwo {
    position: absolute;
    margin-top: 62vh;
    margin-left: 46vh;
    width: 20vh; }

  .Right__IconUser {
    margin-left: 33.5vh;
    margin-top: 18vh; }

  .Right__IconCampana {
    margin-left: 45vh;
    margin-top: 20vh; }

  .Right__Iconsearch {
    margin-left: 48vh;
    margin-top: 20.2vh; }

  .Right__IconChat {
    margin-left: 51vh;
    margin-top: 20.5vh; }

  .Right__IconMore {
    margin-left: 55vh;
    margin-top: 20.5vh; }

  .Botons__Right {
    margin-left: 0vh;
    margin-right: 0vh; }

  .Trio--Divs {
    height: 76vh; } }
@media screen and (min-width: 959px) and (max-width: 1000px) {
  .Trio--Divs {
    height: 90vh; } }
@media only screen and (min-width: 801px) and (max-width: 960px) {
  .Right__ImgReloj {
    position: absolute;
    margin-top: 20vh;
    margin-left: 32vh;
    width: 20vh;
    z-index: 1; }

  .Right__ImgTable {
    position: absolute;
    margin-top: 46vh;
    margin-left: 32vh;
    width: 20vh;
    z-index: 1; }

  .Right__ImgTramaOne {
    margin-top: 8vh;
    margin-left: 20vh;
    width: 18vh; }

  .Right__ImgTramaTwo {
    position: absolute;
    margin-top: 58vh;
    margin-left: 44vh;
    width: 18vh; }

  .Right__IconUser {
    margin-left: 31vh;
    margin-top: 17vh; }

  .Right__IconCampana {
    margin-left: 41vh;
    margin-top: 18vh; }

  .Right__Iconsearch {
    margin-left: 44.5vh;
    margin-top: 18.2vh; }

  .Right__IconChat {
    margin-left: 48vh;
    margin-top: 18.5vh; }

  .Right__IconMore {
    margin-left: 51vh;
    margin-top: 18.4vh; }

  .Botons__Right {
    margin-left: 0vh;
    margin-right: 0vh; }

  .Cont__Price {
    padding-left: 10vh;
    padding-right: 10vh; }

  .Cont__Configuration {
    margin-left: 25vh; }

  .Trio--Divs {
    height: 90vh; } }
@media only screen and (min-width: 701px) and (max-width: 800px) {
  .Container__Header {
    display: block;
    min-height: 165vh; }

  .Header__right {
    position: relative;
    margin-top: 0;
    margin-right: 0;
    bottom: 73vh;
    left: 34vh; }

  .Header__left {
    text-align: center; }

  .Header__Title {
    text-align: left; }

  .Header__Subtitle {
    text-align: left; }

  .Botons__Right {
    display: none; }

  #menu {
    display: block; }

  .Botons__left--One {
    width: 14%;
    height: 6vh; }

  .Botons__left {
    width: 18%;
    height: 6vh; }

  .Right__ImgPhone {
    margin-top: 0;
    margin-left: 0; }

  .Header__Img {
    margin-top: 64vh; }

  .Right__ImgReloj {
    position: absolute;
    margin-top: 24vh;
    margin-left: 27vh;
    width: 26vh;
    z-index: 1; }

  .Right__ImgTable {
    position: absolute;
    margin-top: 57vh;
    margin-left: 27vh;
    width: 26vh;
    z-index: 1; }

  .Right__ImgTramaOne {
    margin-top: 12vh;
    margin-left: 10vh;
    width: 20vh; }

  .Right__ImgTramaTwo {
    position: absolute;
    margin-top: 71vh;
    margin-left: 46vh;
    width: 20vh; }

  .Right__IconUser {
    margin-left: 26vh;
    margin-top: 19vh; }

  .Right__IconCampana {
    margin-left: 41vh;
    margin-top: 22vh; }

  .Right__Iconsearch {
    margin-left: 44.5vh;
    margin-top: 22.2vh; }

  .Right__IconChat {
    margin-left: 48vh;
    margin-top: 22.5vh; }

  .Right__IconMore {
    margin-left: 51vh;
    margin-top: 22.4vh; }

  .Botons__Right {
    margin-left: 0vh;
    margin-right: 0vh; }

  .Trio--Divs {
    height: 90vh; }

  .Cont_Table {
    display: block; }

  .Table__One {
    margin-left: 5vh;
    margin-right: 1vh; }

  .Table__Two {
    margin-left: 2vh; }

  .Table__Three {
    margin-right: 4vh; }

  .Table__Price {
    display: block; }

  .Price__Silver {
    margin-right: 0vh; }

  .Price__Bronze {
    margin-left: 0vh; }

  .Trio--Price {
    border-radius: 16px; }

  .Cont__Configuration {
    margin-left: 7vh; }

  .Foot__Table {
    width: 100%;
    margin-left: 0vh; } }
@media (min-width: 701px) and (max-width: 820px) {
  .Cont__Configuration {
    margin-left: 2vh; }

  #menu {
    display: block; } }
@media (min-width: 500px) and (max-width: 700px) {
  .Container__Header {
    display: block;
    min-height: 168vh; }

  .Header__left {
    width: 99vh; }

  .Header__right {
    position: relative;
    margin-top: 0;
    margin-right: 0;
    bottom: 73vh;
    left: 5vh; }

  .Botons__Right {
    display: none; }

  .Header__left {
    text-align: center; }

  .Header__Title {
    text-align: left; }

  .Header__Subtitle {
    text-align: left;
    margin-right: 8vh; }

  .Botons__left--One {
    width: 14%;
    height: 6vh; }

  .Botons__left {
    width: 23%;
    height: 6vh; }

  #menu {
    display: block; }

  .Right__ImgPhone {
    margin-top: 0;
    margin-left: 6vh; }

  .Header__Img {
    margin-top: 70vh; }

  .Right__ImgReloj {
    position: absolute;
    margin-top: 24vh;
    margin-left: 33vh;
    width: 26vh;
    z-index: 1; }

  .Right__ImgTable {
    position: absolute;
    margin-top: 57vh;
    margin-left: 33vh;
    width: 26vh;
    z-index: 1; }

  .Right__ImgTramaOne {
    margin-top: 12vh;
    margin-left: 16vh;
    width: 20vh; }

  .Right__ImgTramaTwo {
    position: absolute;
    margin-top: 71vh;
    margin-left: 52vh;
    width: 20vh; }

  .Right__IconUser {
    margin-left: 32vh;
    margin-top: 19vh; }

  .Right__IconCampana {
    margin-left: 47vh;
    margin-top: 22vh; }

  .Right__Iconsearch {
    margin-left: 50.5vh;
    margin-top: 22.2vh; }

  .Right__IconChat {
    margin-left: 54vh;
    margin-top: 22.5vh; }

  .Right__IconMore {
    margin-left: 57vh;
    margin-top: 22.4vh; }

  .Botons__Right {
    margin-left: 0vh;
    margin-right: 0vh; }

  .Container__Body {
    margin-top: 32vh; }

  .Benefits__ImgScreen {
    position: relative;
    right: 12vh;
    width: 73vh; }

  .Cont_Table {
    display: block; }

  .Trio--Price {
    border-radius: 16px;
    position: relative;
    right: 7vh; }

  .Table__One {
    margin-left: 5vh;
    margin-right: 1vh; }

  .Table__Two {
    margin-left: 2vh; }

  .Table__Three {
    margin-right: 4vh; }

  .Table__Price {
    display: block; }

  .Price__Silver {
    margin-right: 0vh; }

  .Price__Bronze {
    margin-left: 0vh; }

  .Cont__Configuration {
    margin-left: 7vh; }

  .Foot__Table {
    width: 100%;
    margin-left: 0vh; } }
@media (min-width: 400px) and (max-width: 500px) {
  .Header__left {
    width: 80vh; }

  .Header__Title {
    margin-left: 5vh; }

  .Header__Subtitle {
    margin-right: 5vh; }

  .Header__right {
    width: 80vh;
    left: 0vh; }

  .Left__ImgLogo {
    width: 30%;
    margin-left: 5vh; }

  .Botons__left--One {
    width: 18%; }

  .Botons__left {
    width: 30%; }

  #menu {
    display: block; }

  .Right__ImgPhone {
    margin-top: 2vh;
    margin-left: 6vh; }

  .Header__Img {
    margin-top: 70vh; }

  .Right__ImgReloj {
    position: absolute;
    margin-top: 22vh;
    margin-left: 29vh;
    width: 22vh;
    z-index: 1; }

  .Right__ImgTable {
    position: absolute;
    margin-top: 50vh;
    margin-left: 29vh;
    width: 22vh;
    z-index: 1; }

  .Right__ImgTramaOne {
    margin-top: 12vh;
    margin-left: 16vh;
    width: 20vh; }

  .Right__ImgTramaTwo {
    position: absolute;
    margin-top: 60vh;
    margin-left: 40vh;
    width: 20vh; }

  .Right__IconUser {
    margin-left: 28vh;
    margin-top: 19vh; }

  .Right__IconCampana {
    margin-left: 40vh;
    margin-top: 20vh; }

  .Right__Iconsearch {
    margin-left: 43.5vh;
    margin-top: 20.2vh; }

  .Right__IconChat {
    margin-left: 47vh;
    margin-top: 20.5vh; }

  .Right__IconMore {
    margin-left: 50vh;
    margin-top: 20.4vh; }

  .Cont__Benefits {
    padding-right: 10vh;
    padding-left: 10vh; }

  .Cont__Price {
    padding-right: 10vh;
    padding-left: 10vh; }

  .Table__Price {
    margin-left: 7vh; }

  .Benefits__ImgScreen {
    width: 60vh;
    right: 0; }

  .Table__One {
    margin-left: 0;
    margin-right: 0; }

  .Table__Two {
    margin-left: 0;
    margin-right: 0; }

  .Table__Three {
    margin-left: 0;
    margin-right: 0; } }
#menu {
  text-align: center;
  display: none; }

#menu ul li {
  background-color: #3A383B; }

#menu ul {
  list-style: none;
  margin: 0;
  padding: 0; }

#menu ul a {
  display: block;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 3vh;
  padding: 10px;
  font-family: Poppins;
  text-transform: uppercase;
  letter-spacing: 1px; }

#menu ul li {
  position: relative;
  float: left;
  margin: 0;
  padding: 0; }

#menu ul li:hover {
  background: #C74733; }

#menu ul ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 0; }

#menu ul ul li {
  float: none;
  width: 35vh; }

#menu ul ul a {
  line-height: 5vh;
  padding: 10px 15px; }

#menu ul li:hover > ul {
  display: block; }

body {
  background: #F4F6FD;
  margin: 0; }

.Cont__Left__ImgLogo {
  text-align: left; }

a {
  color: #fff;
  text-decoration: none; }

/*# sourceMappingURL=Inicio.css.map */
