.Jobss
    font-family: $Tipo_Fuente
    background: $Blanco
    width: 178vh
    min-height: 70vh
    border-radius: 2vh
    position: absolute
    top: 18vh
    left: 15vh

.Jobss__Title
    padding-left: 4vh
    font-family: $Tipo_Fuente
    font-size: 5vh
    font-weight: bold
    color: #414D55

.TopBar
    display: inline-flex
    padding-left: 4vh

.Boton__add
    font-family: $Tipo_Fuente
    font-size: 2vh
    background: #7A40F2
    color: $Blanco
    border-radius: 15vh
    border: 1px solid #7A40F2
    text-align: center
    padding: 1vh
    width: 20vh
    height: 3vh

.SearchBar
    font-family: $Tipo_Fuente
    margin-left: 83vh
    background: $Gris_Claro
    border-radius: 2vh
    padding: 1vh

.Sub__SearchBar
    width: 50vh
    height: 4vh
    font-family: $Tipo_Fuente
    font-size: 2vh
    border: none
    background: $Gris_Claro

.BottomBar
    padding-left: 4vh
    font-family: $Tipo_Fuente

.BottomBar__Cont
    margin-top: 2vh
    margin-left: 2vh

.Folder__One
    width: 5vh

.Jobs__Route
    display: inline-flex
    font-size: 2.4vh
    position: absolute
    top: 24.9vh
    left: 12vh

.Cont__Jobss
    background: #F5F2FB
    min-height: 30vh
    font-family: $Tipo_Fuente
    border-radius: 2vh
    padding: 2vh
    margin-right: 4vh

.TblTable
    width: 100%
    border: 1
    cellpadding: 0
    cellspacing: 0

.TblHeader tr th
    font-size: 3vh
    font-weight: normal
    text-align: left

.TblBody tr td
    font-size: 2vh
    font-weight: normal    

.Folder__Two
    width: 5vh

.txtJobs
    display: inline-flex

.Botons__Jobs
    text-align: center