@import _Menu.sass

@import _Icons.sass

@import _CheckBox.sass

@import _Modal.sass

@import _ContainerJobs.sass

@import _Variables.sass


body
    margin: 0
    background: #eee

a
    text-decoration: none
    
.Container__Menu 
    width: 4% 
    height: 100vh  
    /* Esto lo mantendra en su sitio */
    position: fixed 
    top: 0 
    left: 0

.Container__Prin 
    width: 97% 
    height: 100vh
    overflow-y: hidden
    /* Esto equilibria lo del aside */
    position: relative 
    top: 0 
    left: 3% 

.Cont_Prin
    display: flex