.Cont__New
    z-index: 1

.Jobs
    // background: $Blanco
    background: transparent
    border: #D4D4D4 2vh dashed
    width: 40vh
    height: 50vh
    border-radius: 2vh
    text-align: center
    z-index: 1

.Txt__UsuNew
    font-family: $Tipo_Fuente
    font-size: 4.5vh
    font-weight: Bold
    color: #D4D4D4

// .Jobs__Title
//     padding-top: 1vh
//     font-family: $Tipo_Fuente
//     color: #414D55
//     font-size: 5vh
//     font-weight: bold

// .Cont__Jobs
//     background: #E3E8EB
//     margin-left: 2vh
//     margin-right: 2vh
//     margin-bottom: 1vh
//     border-radius: 1vh
//     padding: 2vh

// .Jobs__Subtitle
//     font-family: $Tipo_Fuente
//     color: #A0A0A0
//     font-size: 3vh
//     text-decoration: none