
.Boton__Create
    font-family: $Tipo_Fuente
    font-size: 2.4vh
    background: #148B83
    width: 50vh
    height: 7vh
    border-radius: 15vh
    border: 1px solid #148B83
    margin-bottom: 4vh
    display: none

    &:hover
        cursor: pointer

.txtBoton
    color: $Blanco

.Jobs__Prioritary
    height: auto
    z-index: 1
    
.Cont__Jobs__Prioritary
    background: $Blanco
    width: 50vh
    height: 87vh
    border-radius: 2vh
    padding: 1vh
    overflow-y: scroll

.Cont__Jobs__Prioritary::-webkit-scrollbar 
    width: 1vh

.Cont__Jobs__Prioritary::-webkit-scrollbar-track 
    border-radius: 10vh
    background-color: #F8F8F8

.Cont__Jobs__Prioritary::-webkit-scrollbar-thumb 
    background-image: linear-gradient(45deg, #6F52ED, #6F52ED)
    border-radius: 10vh

.Jobs__Prioritary__Title
    padding-top: 1vh
    font-family: $Tipo_Fuente
    font-size: 4vh
    text-align: center
    font-weight: bold

.Jobs__Prioritary__Date
    padding-top: 1vh
    font-family: $Tipo_Fuente
    font-size: 2.2vh
    margin-left: 3vh

.Jobs__txt
    font-family: $Tipo_Fuente
    font-size: 2.2vh
    margin-left: 2vh
    opacity: 1

.Job
    background: #F5F2FB
    border-radius: 1vh
    margin-top: 2vh
    margin-left: 3vh
    margin-right: 3vh
    padding: 1vh
